<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
      <add key="andersenasc" value="https://www.myget.org/F/andersenacs/auth/d8b6b853-2786-4f25-b04c-afa47f7c0586/api/v2" />
      <add key="LocalPackages" value="../Packages" />
    </packageSources>
    <activePackageSource>
      <!-- this tells that all of them are active -->
      <add key="All" value="(Aggregate source)" />
    </activePackageSource>
</configuration>
